body.h2o header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.7s cubic-bezier(0.305, 0.255, 0.13, 1.03);
  -o-transition: all 0.7s cubic-bezier(0.305, 0.255, 0.13, 1.03);
  transition: all 0.7s cubic-bezier(0.305, 0.255, 0.13, 1.03); }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header {
    top: 0px; } }
@media (max-width: 991px) {
  body.h2o header {
    top: 0px;
    padding: 10px 0; } }
body.h2o header.fixed {
  top: -150px;
  background: transparent;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.75); }
@media (max-width: 991px) {
  body.h2o header.fixed {
    padding: 15px 0 15px; } }
body.h2o header.fixed .logo {
  bottom: 15px; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header.fixed .logo {
    bottom: 12px; } }
@media (min-width: 992px) and (max-width: 1024px) {
  body.h2o header.fixed .logo {
    bottom: 14px; } }
@media (max-width: 991px) {
  body.h2o header.fixed .logo {
    bottom: auto; } }
body.h2o header.fixed nav {
  margin-top: 0; }
@media (max-width: 991px) {
  body.h2o header.fixed nav {
    background: #ffe52b;
    top: 65px; } }
body.h2o header.fixed .nav-wrapper > div.top-nav > ul > li {
  margin-top: 10px; }
body.h2o header.fixed .nav-wrapper > div.main-nav {
  padding-top: 12px; }
body.h2o header.fixed .nav-wrapper > div > ul > li > a:not(.btn-default) {
  padding-bottom: 40px; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header.fixed .nav-wrapper > div > ul > li > a:not(.btn-default) {
    padding-bottom: 28px; } }
@media (max-width: 991px) {
  body.h2o header.fixed .nav-wrapper > div > ul > li > a:not(.btn-default) {
    padding-bottom: 0; } }
body.h2o header.fixed .nav-wrapper > div > ul > li > a:not(.btn-default):before {
  bottom: 0; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header.fixed .nav-wrapper > div > ul > li > a:not(.btn-default):before {
    bottom: 0; } }
@media (max-width: 991px) {
  body.h2o header.fixed .nav-wrapper > div > ul > li > a:not(.btn-default):before {
    bottom: 0; } }
body.h2o header.fixed .nav-wrapper > div > ul > li > ul {
  top: 75px; }
@media (max-width: 991px) {
  body.h2o header.fixed .nav-wrapper > div > ul > li > ul {
    top: 10px; } }
body.h2o header.fixed .logo {
  -webkit-box-shadow: none;
  box-shadow: none; }
body.h2o header.fixed:after {
  content: '';
  position: fixed;
  width: 100%;
  height: 35px;
  top: -150px;
  left: 0;
  z-index: -1;
  background-color: #f2f2f2;
  -webkit-transition: all 0.7s cubic-bezier(0.305, 0.255, 0.13, 1.03);
  -o-transition: all 0.7s cubic-bezier(0.305, 0.255, 0.13, 1.03);
  transition: all 0.7s cubic-bezier(0.305, 0.255, 0.13, 1.03); }
@media (max-width: 991px) {
  body.h2o header.fixed:after {
    display: none; } }
body.h2o header.fixed.off-canvas {
  top: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -4px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 26px 0px rgba(0, 0, 0, 0.75); }
body.h2o header.fixed.off-canvas:after {
  top: 0; }
body.h2o header .nav-container {
  left: 140px;
  width: calc(100% - 140px);
  position: relative; }
@media (max-width: 991px) {
  body.h2o header .nav-container {
    left: 0;
    width: calc(100%); } }
body.h2o header .search-div {
  position: absolute;
  width: 100%;
  top: -690px;
  height: 690px;
  background-color: #ffe52b;
  cursor: pointer;
  background-image: url(/wp-content/themes/h2o2018/h2o-world/images/we-images/search_background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }
@media (max-width: 991px) {
  body.h2o header .search-div {
    display: none; } }
body.h2o header .search-div .close-icon {
  position: absolute;
  right: 20px;
  top: 30px; }
body.h2o header .search-div .close-icon .icon {
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: middle; }
body.h2o header .search-div .close-icon .icon > img {
  width: 100%;
  height: 100%; }
body.h2o header .search-div .close-icon h6 {
  display: inline-block;
  font-size: 14px;
  padding-left: 10px;
  max-width: 80px;
  vertical-align: middle;
  font-weight: 400; }
body.h2o header .search-div .container {
  height: inherit; }
body.h2o header .search-div form {
  text-align: center;
  top: 42.6%;
  position: relative;
  max-width: 920px;
  margin: 0 auto; }
body.h2o header .search-div form:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 57px;
  height: 57px;
  background: url(/wp-content/themes/h2o2018/h2o-world/images/we-images/search_button.svg);
  background-size: cover;
  z-index: 1; }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o header .search-div form:before {
    width: 47px;
    height: 47px; } }
@media (min-width: 596px) and (max-width: 767px) {
  body.h2o header .search-div form:before {
    top: 12px;
    bottom: auto;
    width: 35px;
    height: 35px; } }
@media (min-width: 481px) and (max-width: 595px) {
  body.h2o header .search-div form:before {
    top: 14px;
    bottom: auto;
    width: 25px;
    height: 25px; } }
@media (max-width: 480px) {
  body.h2o header .search-div form:before {
    top: 12px;
    bottom: auto;
    width: 18px;
    height: 18px; } }
body.h2o header .search-div form:after {
  content: '';
  display: block;
  clear: both; }
body.h2o header .search-div form input.search-text {
  width: 79.17%;
  background: transparent;
  border: 0;
  padding: 0 20px 4px 70px;
  border-bottom: 1px solid #374c51;
  font-size: 60px;
  color: #000000;
  position: relative;
  outline: none;
  float: left;
  -webkit-box-shadow: inset 148px 200px 202px 200px #ffe52d;
  box-shadow: inset 148px 200px 202px 200px #ffe52d;
  font-family: "proxima-nova", sans-serif; }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o header .search-div form input.search-text {
    font-size: 50px; } }
body.h2o header .search-div form input.search-text::-webkit-input-placeholder {
  font-size: 60px;
  color: #000000;
  font-weight: 400;
  opacity: 0.6;
  font-family: "proxima-nova", sans-serif; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header .search-div form input.search-text::-webkit-input-placeholder {
    font-size: 50px; } }
body.h2o header .search-div form input.search-text::-moz-placeholder {
  font-size: 60px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
  font-family: "proxima-nova", sans-serif; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header .search-div form input.search-text::-moz-placeholder {
    font-size: 50px; } }
body.h2o header .search-div form input.search-text:-ms-input-placeholder {
  font-size: 60px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
  font-family: "proxima-nova", sans-serif; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header .search-div form input.search-text:-ms-input-placeholder {
    font-size: 50px; } }
body.h2o header .search-div form input.search-text:-moz-placeholder {
  font-size: 60px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
  font-family: "proxima-nova", sans-serif; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header .search-div form input.search-text:-moz-placeholder {
    font-size: 50px; } }
body.h2o header .search-div form input::-ms-clear {
  display: none; }
body.h2o header .search-div form input.btn-default {
  font-size: 28px;
  font-weight: 700;
  padding: 7px 31px 7px 30px;
  margin-left: 44px;
  color: #ffe52b;
  background: #000000;
  border: 1px solid #000000;
  float: left;
  margin-top: 27px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header .search-div form input.btn-default {
    font-size: 26px; } }
body.h2o header .hamburger {
  width: 30px;
  float: right;
  font-size: 0;
  margin-top: 10px;
  cursor: pointer;
  display: none; }
@media (max-width: 991px) {
  body.h2o header .hamburger {
    display: block; } }
body.h2o header .hamburger span {
  width: 30px;
  height: 4px;
  background: #303D49;
  display: inline-block;
  float: left;
  margin: 3px 0px; }
body.h2o header .hamburger span:nth-child(1) {
  -webkit-animation-name: hamburgerOneReverse;
  -o-animation-name: hamburgerOneReverse;
  animation-name: hamburgerOneReverse;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }
body.h2o header .hamburger span:nth-child(2) {
  -webkit-animation-name: hamburgerTwoReverse;
  -o-animation-name: hamburgerTwoReverse;
  animation-name: hamburgerTwoReverse;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms; }
body.h2o header .hamburger span:nth-child(3) {
  -webkit-animation-name: hamburgerThreeReverse;
  -o-animation-name: hamburgerThreeReverse;
  animation-name: hamburgerThreeReverse;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }
body.h2o header .hamburger.active span:nth-child(1) {
  -webkit-animation-name: hamburgerOne;
  -o-animation-name: hamburgerOne;
  animation-name: hamburgerOne;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }
body.h2o header .hamburger.active span:nth-child(2) {
  -webkit-animation-name: hamburgerTwo;
  -o-animation-name: hamburgerTwo;
  animation-name: hamburgerTwo;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  opacity: 0; }
body.h2o header .hamburger.active span:nth-child(3) {
  -webkit-animation-name: hamburgerThree;
  -o-animation-name: hamburgerThree;
  animation-name: hamburgerThree;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center; }
body.h2o header .logo {
  float: left;
  width: auto;
  bottom: 11px;
  left: 20px;
  position: absolute;
  width: 65px;
  /*    box-shadow: -11px 1px 14px -1px rgba(0, 0, 0, 0.4);*/ }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o header .logo {
    width: 57px;
    left: 20px; } }
@media (min-width: 992px) and (max-width: 1024px) {
  body.h2o header .logo {
    width: 50px;
    left: 20px; } }
@media (max-width: 991px) {
  body.h2o header .logo {
    position: relative;
    left: auto;
    bottom: auto; } }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o header .logo {
    width: 50px; } }
@media (min-width: 596px) and (max-width: 767px) {
  body.h2o header .logo {
    width: 50px; } }
@media (max-width: 595px) {
  body.h2o header .logo {
    width: 52px; } }
body.h2o header .logo a {
  display: block; }
body.h2o header .logo img {
  height: 100%;
  width: 100%; }
body.h2o header nav {
  margin-top: 9px; }
@media (max-width: 991px) {
  body.h2o header nav {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background: #ffe52b;
    display: none;
    overflow: scroll;
    opacity: 0;
    height: calc(100vh - 50px);
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  body.h2o header nav.animate {
    display: block;
    opacity: 0;
    -webkit-animation-name: fadeanimate;
    -o-animation-name: fadeanimate;
    animation-name: fadeanimate;
    -webkit-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    animation-delay: 200ms; }
  body.h2o header nav.animate .nav-wrapper > div > ul > li {
    opacity: 0;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-animation-name: open-animate;
    -o-animation-name: open-animate;
    animation-name: open-animate;
    -webkit-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    animation-delay: 200ms; } }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper {
    display: grid;
    padding: 0 20px; } }
body.h2o header .nav-wrapper > div:after {
  content: "";
  display: block;
  clear: both; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div.main-nav {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
body.h2o header .nav-wrapper > div.main-nav > ul > li > a span {
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
body.h2o header .nav-wrapper > div.main-nav > ul > li > a:not(.btn-default):after {
  content: attr(data-attr);
  position: absolute;
  font-weight: bold;
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
body.h2o header .nav-wrapper > div.main-nav > ul > li > a.url-active span {
  opacity: 0; }
body.h2o header .nav-wrapper > div.main-nav > ul > li > a.url-active:not(.btn-default):after {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: inherit; }
body.h2o header .nav-wrapper > div.main-nav > ul > li.company .sub-nav {
  width: 500px; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div.main-nav > ul > li.company .sub-nav {
    width: 100%; } }
body.h2o header .nav-wrapper > div.main-nav > ul > li.company .sub-nav div.two-third {
  padding-right: 0;
  width: 100%; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div.top-nav {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: none; } }
body.h2o header .nav-wrapper > div.top-nav > ul > li {
  padding: 0 13px 0; }
@media (min-width: 992px) {
  body.h2o header .nav-wrapper > div.top-nav > ul > li:nth-child(5) {
    padding-right: 0; } }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div.top-nav > ul > li:last-child {
    border-bottom: 0; } }
body.h2o header .nav-wrapper > div.top-nav > ul > li.search-button {
  vertical-align: top;
  cursor: pointer; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div.top-nav > ul > li.search-button {
    display: none; } }
body.h2o header .nav-wrapper > div.top-nav > ul > li > a {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.010em; }
body.h2o header .nav-wrapper > div.top-nav > ul > li > a:not(.btn-default) {
  padding-bottom: 10px; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div.top-nav > ul > li > a:not(.btn-default) {
    padding-bottom: 0; } }
body.h2o header .nav-wrapper > div.top-nav > ul > li > a:not(.btn-default):before {
  bottom: 0; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div.top-nav > ul > li > a {
    font-weight: 400;
    font-size: 14px; } }
body.h2o header .nav-wrapper > div.top-nav > ul > li > a.url-active:before {
  left: 0;
  right: 0;
  width: 100%; }
body.h2o header .nav-wrapper > div.top-nav > ul > li:first-child {
  padding: 0 10px 0; }
body.h2o header .nav-wrapper > div > ul {
  float: right;
  font-size: 0;
  position: relative; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul {
    width: 100%; } }
body.h2o header .nav-wrapper > div > ul > li {
  display: inline-block;
  padding: 0 15px 0;
  margin-top: 12px; }
body.h2o header .nav-wrapper > div > ul > li:first-child {
  padding-left: 0; }
body.h2o header .nav-wrapper > div > ul > li:last-child {
  padding-right: 0; }
@media (min-width: 992px) and (max-width: 1024px) {
  body.h2o header .nav-wrapper > div > ul > li {
    padding: 0 10px 0;
    margin-top: 8px; } }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li {
    padding: 0 10px 0;
    margin-top: 8px; } }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li {
    display: block;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #e8d535; }
  body.h2o header .nav-wrapper > div > ul > li:last-child {
    border-bottom: 0; }
  body.h2o header .nav-wrapper > div > ul > li.inner-nav {
    cursor: pointer; }
  body.h2o header .nav-wrapper > div > ul > li.inner-nav:not(.try-btn):before {
    content: "";
    position: absolute;
    bottom: auto;
    top: 27px;
    width: 18px;
    height: 4px;
    left: auto;
    right: 5px;
    border-radius: 5px;
    background: #000000;
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    display: block;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  body.h2o header .nav-wrapper > div > ul > li.inner-nav:not(.try-btn):after {
    content: "";
    opacity: 1;
    position: absolute;
    background: #000000;
    width: 4px;
    height: 18px;
    border-radius: 5px;
    bottom: auto;
    top: 20px;
    left: auto;
    right: 12px;
    opacity: 1;
    display: block;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  body.h2o header .nav-wrapper > div > ul > li.sub-active:after {
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0); } }
body.h2o header .nav-wrapper > div > ul > li > a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
body.h2o header .nav-wrapper > div > ul > li > a.btn-default {
  font-weight: 700; }
body.h2o header .nav-wrapper > div > ul > li > a:not(.btn-default) {
  padding-bottom: 20px; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li > a:not(.btn-default) {
    padding-bottom: 0;
    font-size: 18px; } }
body.h2o header .nav-wrapper > div > ul > li > a:not(.btn-default):before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 9px;
  z-index: 4;
  background: #000000;
  width: 0;
  height: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*            transform: translateX(-50%);*/ }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li > a:not(.btn-default):before {
    bottom: -2px; } }
body.h2o header .nav-wrapper > div > ul > li .btn-default {
  margin: 0;
  margin-left: 20px; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li .btn-default {
    margin: 0; } }
body.h2o header .nav-wrapper > div > ul > li > ul {
  position: absolute;
  width: 135px;
  text-align: left;
  left: -10px;
  top: 60px;
  background: #000000;
  opacity: 0;
  visibility: hidden; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li > ul {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 10px;
    left: 0;
    display: none; } }
body.h2o header .nav-wrapper > div > ul > li > ul > li.overview {
  display: none; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li > ul > li.overview {
    display: block; } }
body.h2o header .nav-wrapper > div > ul > li > ul > li > a {
  color: #ffe52b;
  padding: 5px 10px;
  background: transparent;
  display: block;
  font-size: 14px;
  font-family: "motiva-sans", sans-serif;
  font-weight: 500; }
body.h2o header .nav-wrapper > div > ul > li > ul > li > a:hover {
  background: #FFFFFF;
  color: #000000; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li.search-button {
    display: none; } }
body.h2o header .nav-wrapper > div > ul > li.search-responsive {
  display: none; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li.search-responsive {
    display: block;
    border-bottom: 0;
    padding-bottom: 0; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form {
    display: none; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 25px;
    height: 25px;
    background: url("/wp-content/themes/h2o2018/h2o-world/images/we-images/search_button.svg");
    background-size: cover; } }
@media (max-width: 991px) and (max-width: 595px) {
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form:before {
    width: 18px;
    height: 18px; } }
@media (max-width: 991px) and (max-width: 991px) {
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form {
    display: block; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text {
    width: calc(100% - 117px);
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    padding-left: 35px;
    background-position: left center;
    outline: none;
    -webkit-box-shadow: inset 148px 200px 202px 200px #ffe52d;
    box-shadow: inset 148px 200px 202px 200px #ffe52d; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text::-webkit-input-placeholder {
    font-size: 18px;
    color: #000000; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text::-moz-placeholder {
    font-size: 18px;
    color: #000000; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text:-ms-input-placeholder {
    font-size: 18px;
    color: #000000; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text:-moz-placeholder {
    font-size: 18px;
    color: #000000; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.btn-default {
    font-size: 14px;
    font-weight: 700;
    color: #ffe52b;
    background: #000000;
    border: 1px solid #000000;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0; } }
@media (max-width: 991px) and (max-width: 595px) {
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form {
    text-align: center; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text {
    width: calc(100% - 79px);
    margin-right: 4px;
    background-image: none;
    font-size: 16px;
    padding-left: 20px; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text::-webkit-input-placeholder {
    font-size: 16px; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text::-moz-placeholder {
    font-size: 16px; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text:-ms-input-placeholder {
    font-size: 16px; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.search-text:-moz-placeholder {
    font-size: 16px; }
  body.h2o header .nav-wrapper > div > ul > li.search-responsive > form input.btn-default {
    margin-top: 10px;
    padding: 9px 15px 10px 15px; } }
body.h2o header .nav-wrapper .sub-nav {
  position: absolute;
  width: 886px;
  right: 60px;
  background: #FFFFFF;
  top: 80px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 15px 26px 0px rgba(0, 0, 0, 0.75); }
@media (min-width: 992px) {
  body.h2o header .nav-wrapper .sub-nav {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; } }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper .sub-nav {
    position: relative;
    width: auto;
    left: 0;
    top: 10px;
    pointer-events: inherit;
    opacity: 1;
    visibility: visible;
    display: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
    cursor: default; } }
body.h2o header .nav-wrapper .sub-nav:after {
  content: "";
  display: block;
  clear: both; }
body.h2o header .nav-wrapper .sub-nav h6 {
  padding: 16px 30px 0;
  font-family: "proxima-nova", sans-serif;
  margin-bottom: 30px; }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o header .nav-wrapper .sub-nav h6 {
    margin-bottom: 15px;
    padding: 16px 20px 0; } }
@media (min-width: 596px) and (max-width: 767px) {
  body.h2o header .nav-wrapper .sub-nav h6 {
    margin-bottom: 10px;
    padding: 16px 20px 0; } }
@media (max-width: 595px) {
  body.h2o header .nav-wrapper .sub-nav h6 {
    margin-bottom: 7px;
    padding: 16px 20px 0; } }
body.h2o header .nav-wrapper .sub-nav h6 > a:before {
  background: #ffe52b; }
body.h2o header .nav-wrapper .sub-nav h6 > span {
  padding: 10px 0 5px;
  background: #FFFFFF;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  font-family: "proxima-nova", sans-serif; }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o header .nav-wrapper .sub-nav h6 > span {
    padding: 7px 0 5px; } }
@media (min-width: 596px) and (max-width: 767px) {
  body.h2o header .nav-wrapper .sub-nav h6 > span {
    font-size: 16px;
    padding: 5px 0 5px; } }
@media (max-width: 595px) {
  body.h2o header .nav-wrapper .sub-nav h6 > span {
    font-size: 14px;
    padding: 5px 0 5px; } }
body.h2o header .nav-wrapper .sub-nav > div {
  float: left; }
body.h2o header .nav-wrapper .sub-nav > div.one-third {
  width: 33.3%;
  padding: 0 32px 13px 9px; }
@media (max-width: 767px) {
  body.h2o header .nav-wrapper .sub-nav > div.one-third {
    width: 100%;
    padding-left: 20px; } }
body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li {
  padding: 0;
  border: 2px solid #999999;
  margin-bottom: 11px; }
@media (min-width: 596px) and (max-width: 767px) {
  body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li {
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: top;
    margin-right: 10px; }
  body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li:last-child {
    margin-right: 0; } }
@media (min-width: 481px) and (max-width: 595px) {
  body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li {
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: top;
    margin-right: 10px; }
  body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li:last-child {
    margin-right: 0; } }
@media (max-width: 480px) {
  body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li {
    width: 100%; } }
body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li > a {
  padding: 15px 15px 20px; }
body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li > a .description {
  font-size: 14px;
  line-height: 1.14; }
body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li:hover {
  background-color: #000000;
  border-color: transparent; }
body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li:hover > a {
  color: #FFFFFF; }
body.h2o header .nav-wrapper .sub-nav > div.one-third > ul > li:hover > a .description {
  color: #999999; }
body.h2o header .nav-wrapper .sub-nav > div.two-third {
  width: 66.7%;
  padding-right: 20px; }
@media (max-width: 767px) {
  body.h2o header .nav-wrapper .sub-nav > div.two-third {
    width: 100%; } }
@media (max-width: 480px) {
  body.h2o header .nav-wrapper .sub-nav > div.two-third {
    padding-right: 0; } }
body.h2o header .nav-wrapper .sub-nav > div.two-third > ul {
  display: inline-block;
  vertical-align: top;
  width: 50%; }
@media (max-width: 480px) {
  body.h2o header .nav-wrapper .sub-nav > div.two-third > ul {
    width: 100%;
    padding-bottom: 10px; } }
body.h2o header .nav-wrapper .sub-nav > div.two-third > ul > li:not(.heading):hover {
  background: #cecece; }
body.h2o header .nav-wrapper .sub-nav > div.two-third > ul > li:not(.heading):hover:before {
  opacity: 1; }
body.h2o header .nav-wrapper .sub-nav > div > ul {
  padding-bottom: 7px; }
body.h2o header .nav-wrapper .sub-nav > div > ul > li {
  padding: 0 30px;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  background: transparent;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper .sub-nav > div > ul > li {
    padding: 0 20px; } }
body.h2o header .nav-wrapper .sub-nav > div > ul > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: #000000;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
body.h2o header .nav-wrapper .sub-nav > div > ul > li > a {
  font-size: 14px;
  padding: 14px 0;
  color: #000000;
  display: block;
  line-height: 1.14; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper .sub-nav > div > ul > li > a {
    padding: 14px 0; } }
body.h2o header .nav-wrapper .sub-nav > div > ul > li > a .description {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  display: block;
  line-height: 1.4;
  margin-top: 7px; }
body.h2o header .nav-wrapper .sub-nav > div > ul > li.heading {
  padding: 2px 30px; }
@media (max-width: 991px) {
  body.h2o header .nav-wrapper .sub-nav > div > ul > li.heading {
    padding: 2px 20px; } }
body.h2o.search-open, .search-open {
  margin-top: 690px !important;
  overflow: hidden;
}
body.h2o.search-open header {
  top: 690px !important; }
body.h2o.search-open header.fixed:after {
  top: 690px !important; }
body.h2o.logged-in header {
  top: 33px; }
@media (max-width: 767px) {
  body.h2o.logged-in header {
    top: 45px; } }
body.h2o.logged-in header.fixed {
  top: -120px; }
body.h2o.logged-in header.fixed.off-canvas {
  top: 32px; }
@media screen and (max-width: 600px) {
  body.h2o.logged-in header.fixed.off-canvas {
    top: 0; } }
body.h2o.logged-in header.fixed.off-canvas:after {
  top: 32px; }
body.h2o.logged-in header .search-div {
  top: -700px; }
body.h2o.logged-in.search-open header {
  top: 722px !important; }
body.h2o.logged-in.search-open header .search-div {
  top: -690px !important; }
@media screen and (max-width: 600px) {
  body.h2o.logged-in .header-bg {
    height: 110px; } }
@media (min-width: 992px) {
  body.h2o.no-touch header .nav-wrapper > div.main-nav > ul > li:hover > a:not(.btn-default) span {
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  body.h2o.no-touch header .nav-wrapper > div.main-nav > ul > li:hover > a:not(.btn-default):after {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: inherit;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; } }
@media (min-width: 992px) {
  body.h2o.no-touch header .nav-wrapper > div > ul > li:hover > a:not(.btn-default):before {
    left: 0;
    right: 0;
    width: 100%; } }
@media (min-width: 992px) {
  body.h2o.no-touch header .nav-wrapper > div > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 37px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; } }
@media (min-width: 992px) {
  body.h2o.no-touch header .nav-wrapper > div > ul > li:hover .sub-nav {
    opacity: 1;
    visibility: visible;
    top: 50px;
    pointer-events: inherit;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; } }
@media (min-width: 992px) and (min-width: 992px) and (max-width: 1024px) {
  body.h2o.no-touch header .nav-wrapper > div > ul > li:hover .sub-nav {
    top: 47px; } }
@media (min-width: 992px) {
  body.h2o.no-touch header.fixed .nav-wrapper > div > ul > li .sub-nav {
    top: 100px; }
  body.h2o.no-touch header.fixed .nav-wrapper > div > ul > li:hover > ul {
    top: 61px; } }
@media (min-width: 992px) and (min-width: 992px) and (max-width: 1150px) {
  body.h2o.no-touch header.fixed .nav-wrapper > div > ul > li:hover > ul {
    top: 45px; } }
@media (min-width: 992px) {
  body.h2o.no-touch header.fixed .nav-wrapper > div > ul > li:hover .sub-nav {
    top: 83px;
    pointer-events: inherit;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; } }
@media (min-width: 992px) and (min-width: 992px) and (max-width: 1150px) {
  body.h2o.no-touch header.fixed .nav-wrapper > div > ul > li:hover .sub-nav {
    top: 71px; } }
@media (min-width: 992px) and (min-width: 992px) and (max-width: 1024px) {
  body.h2o.no-touch header.fixed .nav-wrapper > div > ul > li:hover .sub-nav {
    top: 67px; } }
body.h2o.touch {
  cursor: pointer; }
@media (min-width: 992px) {
  body.h2o.touch header .nav-wrapper > div.main-nav > ul > li.nav-active > a:not(.btn-default) span {
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
  body.h2o.touch header .nav-wrapper > div.main-nav > ul > li.nav-active > a:not(.btn-default):after {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    pointer-events: inherit; } }
@media (min-width: 992px) {
  body.h2o.touch header .nav-wrapper > div > ul > li.nav-active > a:not(.btn-default):before {
    left: 0;
    right: 0;
    width: 100%; } }
body.h2o.touch header .nav-wrapper > div > ul > li.nav-active > ul {
  opacity: 1;
  visibility: visible;
  top: 37px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
body.h2o.touch header .nav-wrapper > div > ul > li.nav-active > ul > li.overview {
  display: block; }
body.h2o.touch header .nav-wrapper > div > ul > li.nav-active .sub-nav {
  opacity: 1;
  visibility: visible;
  top: 50px;
  pointer-events: inherit;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
@media (min-width: 992px) and (max-width: 1024px) {
  body.h2o.touch header .nav-wrapper > div > ul > li.nav-active .sub-nav {
    top: 47px; } }
body.h2o.touch .fixed .nav-wrapper > div > ul > li.nav-active > .sub-nav {
  top: 81px;
  pointer-events: inherit;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
@media (min-width: 992px) and (max-width: 1150px) {
  body.h2o.touch .fixed .nav-wrapper > div > ul > li.nav-active > .sub-nav {
    top: 70px; } }
@media (min-width: 992px) and (max-width: 1024px) {
  body.h2o.touch .fixed .nav-wrapper > div > ul > li.nav-active > .sub-nav {
    top: 65px; } }
@media (max-width: 991px) {
  body.h2o.touch .fixed .nav-wrapper > div > ul > li.nav-active > .sub-nav {
    top: 10px; } }
@media (min-width: 992px) {
  body.h2o.we-small-height header.fixed {
    /*        padding: 20px 0 0;*/ } }

@-webkit-keyframes hamburgerOne {
  0% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -o-transform: translateY(10px) rotate(0deg);
    -webkit-transform: translateY(10px) rotate(0deg);
    transform: translateY(10px) rotate(0deg); }
  100% {
    -o-transform: translateY(10px) rotate(-45deg);
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg); } }

@-o-keyframes hamburgerOne {
  0% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -o-transform: translateY(10px) rotate(0deg);
    -webkit-transform: translateY(10px) rotate(0deg);
    transform: translateY(10px) rotate(0deg); }
  100% {
    -o-transform: translateY(10px) rotate(-45deg);
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg); } }

@keyframes hamburgerOne {
  0% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -o-transform: translateY(10px) rotate(0deg);
    -webkit-transform: translateY(10px) rotate(0deg);
    transform: translateY(10px) rotate(0deg); }
  100% {
    -o-transform: translateY(10px) rotate(-45deg);
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg); } }

@-webkit-keyframes hamburgerTwo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes hamburgerTwo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hamburgerTwo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes hamburgerThree {
  0% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -o-transform: translateY(-10px) rotate(0deg);
    -webkit-transform: translateY(-10px) rotate(0deg);
    transform: translateY(-10px) rotate(0deg); }
  100% {
    -o-transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); } }

@-o-keyframes hamburgerThree {
  0% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -o-transform: translateY(-10px) rotate(0deg);
    -webkit-transform: translateY(-10px) rotate(0deg);
    transform: translateY(-10px) rotate(0deg); }
  100% {
    -o-transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); } }

@keyframes hamburgerThree {
  0% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); }
  50% {
    -o-transform: translateY(-10px) rotate(0deg);
    -webkit-transform: translateY(-10px) rotate(0deg);
    transform: translateY(-10px) rotate(0deg); }
  100% {
    -o-transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); } }

@-webkit-keyframes hamburgerOneReverse {
  0% {
    -o-transform: translateY(10px) rotate(-45deg);
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg); }
  50% {
    -o-transform: translateY(10px) rotate(0deg);
    -webkit-transform: translateY(10px) rotate(0deg);
    transform: translateY(10px) rotate(0deg); }
  100% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); } }

@-o-keyframes hamburgerOneReverse {
  0% {
    -o-transform: translateY(10px) rotate(-45deg);
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg); }
  50% {
    -o-transform: translateY(10px) rotate(0deg);
    -webkit-transform: translateY(10px) rotate(0deg);
    transform: translateY(10px) rotate(0deg); }
  100% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); } }

@keyframes hamburgerOneReverse {
  0% {
    -o-transform: translateY(10px) rotate(-45deg);
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg); }
  50% {
    -o-transform: translateY(10px) rotate(0deg);
    -webkit-transform: translateY(10px) rotate(0deg);
    transform: translateY(10px) rotate(0deg); }
  100% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); } }

@-webkit-keyframes hamburgerTwoReverse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes hamburgerTwoReverse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hamburgerTwoReverse {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes hamburgerThreeReverse {
  0% {
    -o-transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); }
  50% {
    -o-transform: translateY(-10px) rotate(0deg);
    -webkit-transform: translateY(-10px) rotate(0deg);
    transform: translateY(-10px) rotate(0deg); }
  100% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); } }

@-o-keyframes hamburgerThreeReverse {
  0% {
    -o-transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); }
  50% {
    -o-transform: translateY(-10px) rotate(0deg);
    -webkit-transform: translateY(-10px) rotate(0deg);
    transform: translateY(-10px) rotate(0deg); }
  100% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); } }

@keyframes hamburgerThreeReverse {
  0% {
    -o-transform: translateY(-10px) rotate(45deg);
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg); }
  50% {
    -o-transform: translateY(-10px) rotate(0deg);
    -webkit-transform: translateY(-10px) rotate(0deg);
    transform: translateY(-10px) rotate(0deg); }
  100% {
    -o-transform: translateY(0px) rotate(0deg);
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg); } }

@-webkit-keyframes fadeanimate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeanimate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeanimate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes open-animate {
  0% {
    opacity: 0;
    -o-transform: translateY(-25%) rotateX(35deg);
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg); }
  100% {
    opacity: 1;
    -o-transform: translateY(0%) rotateX(0deg);
    -webkit-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg); } }

@-o-keyframes open-animate {
  0% {
    opacity: 0;
    -o-transform: translateY(-25%) rotateX(35deg);
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg); }
  100% {
    opacity: 1;
    -o-transform: translateY(0%) rotateX(0deg);
    -webkit-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg); } }

@keyframes open-animate {
  0% {
    opacity: 0;
    -o-transform: translateY(-25%) rotateX(35deg);
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg); }
  100% {
    opacity: 1;
    -o-transform: translateY(0%) rotateX(0deg);
    -webkit-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg); } }
body.h2o .header-bg {
  background: #FFFFFF;
  height: 146px;
  display: block; }
@media (max-width: 991px) {
  body.h2o .header-bg {
    height: 70px; } }
body.h2o .header-bg.small-banner {
  display: block; }
body.h2o .header-bg.views-header {
  display: block; }
body.h2o.page-id-3127 .header-bg {
  display: block; }
body.h2o.h2o.ua-ie header .search-div form .btn-default {
  padding: 7px 31px 7px 20px; }
body.h2o.h2o.ua-edge header .search-div form .btn-default {
  padding: 7px 31px 7px 20px; }


body.h2o .gbpr-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  z-index: 9999;
  padding: 0 !important;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden; }
body.h2o .gbpr-popup .container p {
  font-size: 16px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  padding: 6px 0px; }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o .gbpr-popup .container p {
    font-size: 12px;
    padding: 4px 0px; } }
@media (min-width: 596px) and (max-width: 767px) {
  body.h2o .gbpr-popup .container p {
    font-size: 12px;
    padding: 4px 0px; } }
@media (max-width: 595px) {
  body.h2o .gbpr-popup .container p {
    position: relative;
    font-size: 12px;
    padding: 4px 30px 4px 0px; } }
body.h2o .gbpr-popup .container p a {
  color: #ffe52b;
  text-decoration: none;
  position: relative;
  display: inline-block; }
body.h2o .gbpr-popup .container p a:after {
  content: "";
  display: none; }
body.h2o .gbpr-popup .container p a:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ffe52b;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
body.h2o .gbpr-popup .container p a:hover:before {
  left: 0;
  right: 0;
  width: 100%; }
body.h2o .gbpr-popup .container p .close-popup {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: -3px 0 -5px 40px; }
@media (min-width: 768px) and (max-width: 991px) {
  body.h2o .gbpr-popup .container p .close-popup {
    width: 15px;
    height: 15px;
    margin: -3px 0 -5px 30px; } }
@media (min-width: 596px) and (max-width: 767px) {
  body.h2o .gbpr-popup .container p .close-popup {
    width: 15px;
    height: 15px;
    margin: -3px 0 -5px 30px; } }
@media (max-width: 595px) {
  body.h2o .gbpr-popup .container p .close-popup {
    position: absolute;
    top: calc(50% - 7px);
    right: 0;
    width: 15px;
    height: 15px;
    margin: -3px 0 -5px 30px; } }
body.h2o .gbpr-popup .container p .close-popup img {
  width: 100%;
  height: 100%; }

.company .sub-nav .two-third ul:last-of-type {
  margin-top: -40px;
}

@media (max-width: 991px) {
  .company .sub-nav .two-third ul:last-of-type {
    margin-top: 0px;
  }
}

