.cfp {
    padding: 5%;
    margin: 30px 15vw 30px 15vw;

    img {
        max-width: 500px;
    }
    h1 {
        color: #2185d0;
        padding: 5px 5px 5px 0px;
        width: 90%;
    }
    h2 {
        color: #111111;
        padding: 5px 5px 5px 0px;
        width: 80%;
    }
    h3 {
        color: #627E93;
        padding: 5px 5px 5px 0px;
        width:80%
    }
}
.cfp p {
     padding: 0px 0px 0px 0px;
}
.cfp-container-top {
  margin-top: 100px;
}

.cfp-container-bottom {
  margin-bottom: 60px;
}

.cfp a {
  text-decoration: none;
}

@media screen and (max-width : 1200px){
  .cfp {
      margin: 20px 10vw 20px 10vw;
  }
  .cfp-container-top {
    margin-top: 100px;
  }
  .cfp-container-bottom {
    margin-bottom: 80px;
  }
}

@media screen and (max-width : 760px){
  .cfp {
      margin: 10px 10px 10px 10px;
  }
  .cfp-container-top {
    margin-top: 80px;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  h3 {
    font-size: 110%;
  }
  p, ol, li {
    font-size: 100%;
  }
}
