<section id="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We believe in building a community as much as we believe in building code.</h2>
                <h3 class="section-subheading text-muted">PyMCon 2020 is an asynchronous-first virtual conference for the Bayesian community</h3>
            </div>
            <div class = "col-lg-12">
                <p>
                    We believe that the PyMC project is more than just a codebase.
                    It is also a community that is interested not only in statistical methods and code,
                    but also in sharing knowledge and helping others - whether they be Bayesian veterans or new to the world of open source.
                    The purpose of this conference is to better our community,
                    just as we better our code . 
                </p>
                <h3>The goals of the conference are to:</h3>
                <p>
                <ul>
                    <li><p>Create a space and time for community members to meet each other and interact</p></li>
                    <li><p>Record and organize the expertise and experience around PyMC</p></li>
                    <li><p>Help folks find ways to contribute to PyMC, authentic to themselves</p></li>
                </ul>
                </p>
            <h3 class="section-heading">PyMCon is a totally volunteer run conference with help from people like you. Sign up <a href="https://forms.gle/mdHHWva1gcB4PZfX9">here</a> to get involved</h3>
            </div>
        </div>
</section>
