<h2>{{ page.title }}</h2>
<p class="text-muted">{{ page.subtitle }}</p>
<hr class="star-primary">
<img src="{{ "./css/2017_style/img/speakers/speaker_image" | replace: 'speaker_image', page.image | absolute_url }}" class="img-responsive img-centered" alt="{{ page.alt }}">

{% if page.twitter %}
  <p><b>Twitter:</b> <a href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter }}</a></p>
{% endif %}
{% if page.twitter %}
  <p><b>GitHub:</b> <a href="https://github.com/{{ page.github }}">{{ page.github }}</a></p>
{% endif %}
{% if page.web %}
  <p><b>Personal website:</b> <a href="{{ page.web }}">{{ page.web | split:'//' | last }}</a></p>
{% endif %}
<p>{{ page.description }}</p>
