<!-- Portfolio Grid Section -->
    <section id="speakers" class="speakers">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="width:100%">Speakers</h2>
                <h3></h3>
            </div>
        <div class="table-responsive">
            {% assign speakers_by_timezone = site.data.speakers | group_by:"time_zone" %}
            {% for timezone in speakers_by_timezone %}

            {% assign speakers_by_track = timezone.items | group_by: "track" %}
            {% assign speakers_by_track = speakers_by_track | sort: "name" | reverse %}
            {% for track in speakers_by_track %}
            <table class="table table-hover " style = "width:90%; margin-left:auto; margin-right:auto;">
          <thead class="thead-dark" style="text-align:center">
            <tr>
              {% if timezone.name != null and timezone.name != "" %}
                <th scope="col">Time zone: {{ timezone.name }}</th>
              {% else %}
                <th scope="col"></th>
              {% endif %}
              <th scope="col">Track: {{ track.name }}</th>
            </tr>
          </thead>
          <tbody>

            {% assign speakers_by_talk = track.items | group_by:"keyword" %}
            {% for talk in speakers_by_talk %}

            {% for speaker in talk.items %}
            {% if forloop.first == true %}
            <tr class = "table table-light top-line">
              <td style="text-align:center;">
                <p class="text-muted small">{{ speaker.presentation_type }}</p>
              </td>
              <td>
                <p class="text-muted">{{ speaker.topic }}</p>
                  {{ speaker.proposal_summary | markdownify | replace: '<p>', '<p class="text-muted small">' }}
              </td>
            </tr>
            {% endif %}
            <tr class = "table table-light">
                <td>
                    <div>
                    <img src="./css/2017_style/img/speakers/{{ speaker.thumbnail }}"
                        style="max-width: 200px; margin-top: 30px" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="row">
                      <div class="speakers-caption"  style="text-align:center">
                        <h3>{{ speaker.title }}</h3>
                        <ul class="list-inline social-buttons">
                          {% if speaker.twitter %}
                            <li><a href="https://twitter.com/{{ speaker.twitter }}"><i class="fa fa-twitter"></i></a></li>
                          {% endif %}
                          {% if speaker.github %}
                            <li><a href="https://github.com/{{ speaker.github }}"><i class="fa fa-github"></i></a></li>
                          {% endif %}
                          {% if speaker.web %}
                            <li><a href="{{ speaker.web }}"><i class="fa fa-link"></i></a></li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                </td>
                <td style="max-width:300px">
                  {{ speaker.description | markdownify | replace: '<p>', '<p class="text-muted small">' }}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
        {% endfor %}
        </div>
        </div>
    </section>
