<!-- Clients Aside -->

    <aside class="clients" class="bg-light-gray">

        <div class="container justify-content-around">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="sponsors">Sponsors</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="section-heading">Metropolis-Hastings Tier</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-6">
                    <a href="https://tidelift.com/" class="portfolio-link" data-toggle="modal">
                        <img src="./css/2017_style/img/sponsors/Tidelift_primary-logo.png" class="img-responsive img-centered" alt="tidelift">
                    </a>
                </div>
            </div>

            <div class = "row">
                <div class = "col-lg-12 text-center">
                    <h2 class = "section-heading" id = "techpartner">Community Partners</h2>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-6">
                    <a href="http://ghana.pyladies.com" class="portfolio-link" data-toggle="modal">
                        <img src="./css/2017_style/img/sponsors/pyladies_ghana.png" class="img-responsive img-centered" alt="PyLadies Ghana">
                    </a>
                </div>
            </div>
            <div class = "row">
                <div class = "col-lg-12 text-center">
                    <h2 class = "section-heading" id = "techpartner">Technology Partners</h2>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-6">
                    <a href="https://zulip.com/" class="portfolio-link" data-toggle="modal">
                        <img src="./css/2017_style/img/sponsors/zulip-org-logo.svg" class="img-responsive img-centered" alt="zulip">
                    </a>
                </div>
            </div>

            <div class = "row">
                <div class = "col-lg-12 text-center">
                    <h2 class = "section-heading" id = "nonprofitsponsor">Non-profit Sponsors</h2>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-6">
                    <a href="https://numfocus.org/" class="portfolio-link" data-toggle="modal">
                        <img src="https://www.numfocus.org/wp-content/uploads/2017/07/NumFocus_LRG.png" class="img-responsive img-centered" alt="numfocus">
                    </a>
                </div>
		    </div>
        </div>
    </aside>
