<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    <!-- navbar -->
    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">PymCon 2020<br></div>
                <div class="intro-lead-in">First Week of November (Tentative)</div>
                <div class="intro-lead-in">Location: Global</div>
                <!-- Hard code button because I don't know how the internet works :(    -->
                <a href="./cfp" class="btn btn-xl" >CFP is now open</a>
            </div>
        </div>
    </header>

    {% comment %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% endcomment %}

    {% include 2017_data/mission.html %}
    {% include 2017_data/team_members.html %}
    {% include 2017_data/team_members_info.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/js.html %}

    </body>
    {% include 2017_data/footer.html %}
</html>
