<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    <!-- navbar -->
    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">PymCon 2020<br></div>
                <div class="intro-lead-in">An asynchronous-first virtual conference for the Bayesian community</div>
                <div class="intro-lead-in-sub">First Week of November (Tentative)</div>
                <div class="intro-lead-in-sub">Location: Global</div>
                <a href="./cfp" class="btn btn-info btn-lg btn-margins">Submit a proposal</a>
                <a href="https://forms.gle/8P1pNdHPyTQqevWa9" class="btn btn-info btn-lg btn-margins">Sponsor</a>
                <!-- <a href="./attend" class="btn btn-xl" >Attend</a> We are not ready for this!  -->
                <a href="#mission" class="btn btn-info btn-lg btn-margins">Volunteer</a>

            </div>
        </div>
    </header>

    {% comment %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% endcomment %}

    {% include 2017_data/mission.html %}
    {% include 2017_data/team_members.html %}
    {% include 2017_data/team_members_info.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/js.html %}

    </body>
    {% include 2017_data/footer.html %}
</html>
