<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    <!-- navbar -->
    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">PymCon 2020<br></div>
                <div class="intro-lead-in">An asynchronous-first virtual conference for the Bayesian community</div>
                <div class="intro-lead-in-sub">October 31st</div>
                <div class="intro-lead-in-sub">Africa/Asia/Europe: 9am GMT+2 </div>
                <div class="intro-lead-in-sub">Americas: 9am GMT-8 </div>
                <div class="intro-lead-in-sub">Schedule coming soon</div>
                <!-- a href="./cfp" class="btn btn-info btn-lg btn-margins">Submit a proposal</a -->
                <a href="mailto:pymconference@gmail.com?subject=PyMCon Sponsorship" class="btn btn-info btn-lg btn-margins">Sponsor</a>
                <a href="https://www.eventbrite.com/e/pymcon-2020-tickets-121404065829" class="btn btn-margins btn-complementary btn-huge" >Register!</a>
                <a href="https://forms.gle/mdHHWva1gcB4PZfX9" class="btn btn-info btn-lg btn-margins">Volunteer</a>

            </div>
        </div>
    </header>

    {% comment %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/about.html %}
    {% endcomment %}

    {% include 2017_data/mission.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2017_data/team_members.html %}
    {% include 2017_data/team_members_info.html %}
    {% include 2017_data/contact.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2017_data/js.html %}

    </body>
    {% include 2017_data/footer.html %}
</html>
